In [2]:
import pandas as pd

In [18]:
df = pd.read_csv("/Users/roman2006/PycharmProjects/Liana Clone/Session_1/file_formats/rural_population_data.csv"
                 ,names= ["Continent","Elevation","Designation","1990","2000","2010","2100","Area"],skiprows=1)

In [17]:
df.head()

,Continent,Elevation,Designation,1990,2000,2010,2100,Area
0,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
1,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
2,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
3,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
4,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838

In [23]:
df.shape

(120, 8)

In [24]:
df['Continent'].unique()

array(['Africa', 'Asia', 'Oceania', 'Europe', 'North America',
       'South America'], dtype=object)

In [30]:
df["Histogram"] = df.apply(lambda row: (row['2100']-row['2000'])/row['2000'], axis=1)

In [39]:
df.isnull().sum()

Continent      0
Elevation      0
Designation    0
1990           0
2000           0
2010           0
2100           0
Area           0
Histogram      0
dtype: int64

In [40]:
df.head()

,Continent,Elevation,Designation,1990,2000,2010,2100,Area,Histogram
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644,1.988310
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719,1.398793
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460,2.383719
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838,2.279129
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456,2.356176

In [38]:
df['2000'].mean() +df ['2010'].mean()/2

188888453.65416667

In [53]:
df["Designation"].value_counts()

Rural    60
Urban    60
Name: Designation, dtype: int64