In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
data ={'company':['ford','chevy', 'ford', 'ford','ford','toyota'],
      'model':['mustang','camaro','fiesta','focus','taurus','camry'],
      'rating':['A','B','C','A','B','B'],    
      'type': ['coupe','coupe','sedan','sedan','sedan','sedan']}
df=pd.DataFrame(data,columns=['company','model','rating','type'])
df

  company    model rating   type
0    ford  mustang      A  coupe
1   chevy   camaro      B  coupe
2    ford   fiesta      C  sedan
3    ford    focus      A  sedan
4    ford   taurus      B  sedan
5  toyota    camry      B  sedan

In [3]:
df.groupby('rating').count()['model']

rating
A    2
B    3
C    1
Name: model, dtype: int64

In [4]:
len(df)

6

In [5]:
df.groupby('rating').count()['model']/len(df)

rating
A    0.333333
B    0.500000
C    0.166667
Name: model, dtype: float64

In [7]:
df.groupby(['rating','type']).count()

              company  model
rating type
A      coupe        1      1
       sedan        1      1
B      coupe        1      1
       sedan        2      2
C      sedan        1      1

In [8]:
df.groupby('rating').count()['model']

rating
A    2
B    3
C    1
Name: model, dtype: int64

In [9]:
(df.groupby(['rating','type']).count()/df.groupby('rating').count())['model']

rating  type
A       coupe    0.500000
        sedan    0.500000
B       coupe    0.333333
        sedan    0.666667
C       sedan    1.000000
Name: model, dtype: float64