In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15,6

In [2]:
db1=np.loadtxt('monthly.ao.index.b50.current.ascii')
db2=np.loadtxt('norm.nao.monthly.b5001.current.ascii')

In [3]:
df=pd.DataFrame(data=db1,columns=['Year','Month','Value'],dtype=str)

In [4]:
df.head()

     Year Month       Value
0  1950.0   1.0    -0.06031
1  1950.0   2.0     0.62681
2  1950.0   3.0  -0.0081275
3  1950.0   4.0      0.5551
4  1950.0   5.0    0.071577

In [5]:
df['Period'] = df[['Year', 'Month']].apply(lambda x: ''.join(x), axis=1)
df.head()

     Year Month       Value     Period
0  1950.0   1.0    -0.06031  1950.01.0
1  1950.0   2.0     0.62681  1950.02.0
2  1950.0   3.0  -0.0081275  1950.03.0
3  1950.0   4.0      0.5551  1950.04.0
4  1950.0   5.0    0.071577  1950.05.0

In [6]:
df.drop('Year', axis=1, inplace=True)

In [7]:
df.head()

  Month       Value     Period
0   1.0    -0.06031  1950.01.0
1   2.0     0.62681  1950.02.0
2   3.0  -0.0081275  1950.03.0
3   4.0      0.5551  1950.04.0
4   5.0    0.071577  1950.05.0

In [8]:
df.drop('Month', axis=1, inplace=True)

In [9]:
df.head()

        Value     Period
0    -0.06031  1950.01.0
1     0.62681  1950.02.0
2  -0.0081275  1950.03.0
3      0.5551  1950.04.0
4    0.071577  1950.05.0

In [10]:
df['Period'].replace(to_replace='.', value='/', inplace=True)

In [11]:
df.head()

        Value     Period
0    -0.06031  1950.01.0
1     0.62681  1950.02.0
2  -0.0081275  1950.03.0
3      0.5551  1950.04.0
4    0.071577  1950.05.0